* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-image: url("img/fondo.jpg");
}
h1{
  margin-top: 10px;
  text-align:center;
  font-family:sofia;
  color: #2980B9;
}
h2{
  text-align: center;
  font-family: monospace;
}
h3{
  text-align: justify;
  font-family: monospace;
}

label{ 
  height: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 5px;
}

.form-menu{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.txt1{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family:lobster;
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align:center;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 45px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: 15px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
}
.txt1 .botons {
  width: 100%;
  background: #1f53c5;
  border: 15px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  font-family: monospace;
  height: 10px;
  text-align: center;
}

.img{
  width: 100%
}

.form-register .link{
    color: #1f53c5;
}
.form-dpto{
    
  width: 800px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-dpto .op{
    
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

}
.form-dpto .controls {
  width: 30%;
  background: #24303c;
  border-radius: 6px;
  margin-bottom: 5px;
  border: 0.5px solid #1f53c5;
  font-family: 'monospace';
  font-size: 15px;
  color: white;
}
